@import "Global-color";
@import "Global-fonts";
@import "Global-Layout";
@import "Global-text";

/*全局样式*/

.web_style{
  color: $webColor;
}

.wrapper {
  width: 50px;
  background-color:#fff;
  color: #088;
  @include ellipsis(); // 多余的文字点显示
}