/*变量*/

// 基础颜色
$webColor:rgba(237, 44, 65, 1);
$mainColor:rgba(0, 48, 124, 1); /*(9, 61, 176, 1);*/
$textColor:rgba(97, 97, 97, 1);
$titleColor:rgba(35, 35, 35, 1);
$whiteColor:rgba(255, 255, 255, 1);
$greenColor:rgba(49, 175, 54, 1);
$cyanColor:rgba(14, 209, 179, 1);
$yellowColor:rgba(255, 179, 1, 1);
$blueColor:rgba(24, 168, 255, 1);
$magentaColor:rgba(247, 82, 217, 1);
$orangeColor:rgba(255, 106, 52, 1);
$purpleColor:rgba(151, 77, 255, 1);


// 字号
$font-size-small:12px;
$font-size-medium:14px;
$font-size-large:20px;
$font-size-huge:36px;
